<div class="searchbox">
    <app-header-input *ngIf="show" class="searchInput"></app-header-input>
</div>
<div class="box">
    
    <app-header-nav></app-header-nav>
    <app-header-input></app-header-input>
    <app-theme-market></app-theme-market>

    <app-have-goods></app-have-goods>
    <app-live></app-live>
    <app-special></app-special>
    <app-hotgoods></app-hotgoods>
    <app-love></app-love>
    <app-foot></app-foot>
    <app-floatbox></app-floatbox>
    <router-outlet></router-outlet>
</div>