<div class="box">
    <div>
        <div class="icon">
            END
        </div>
        <div class="footbox">
            <div>
                <div>
                    消费者保障
                </div>
                <div>
                    <span>保障范围</span>
                    <span>退货退款流程</span>
                    <span>服务中心</span>
                    <span>更多特殊服务</span>
                </div>
            </div>
            <div>
                <div>
                    新手上路
                </div>
                <div>
                    <span>新手专区</span>
                    <span>新手专区</span>
                    <span>新手专区</span>
                    <span>新手专区</span>
                    <span>新手专区</span>
                    <span>新手专区</span>
                </div>
            </div>
            <div>
                <div>
                    付款方式
                </div>
                <div>
                    <span>快捷支付</span>
                    <span>快捷支付</span>
                    <span>快捷支付</span>
                    <span>快捷支付</span>
                    <span>快捷支付</span>
                </div>
            </div>
            <div>
                <div>
                    淘宝特色
                </div>
                <div>
                    <span>手机淘宝</span>
                    <span>手机淘宝</span>
                    <span>手机淘宝</span>
                    <span>手机淘宝</span>
                </div>
            </div>
        </div>
    </div>
</div>
