<div class="box">
    <div>
        <div class="left">
            <div class="top">
                <div></div>
                <span>特色好物</span>
            </div>
            <div class="buttom">
                <div>
                    <p>拍卖</p>
                    <div>一元起拍捡漏</div>
                    <div class="imgbox">
                        <img width="80%" src="https://img.alicdn.com/bao/uploaded/i1/O1CN01UIZL5G25dwtksOmab_!!0-paimai.jpg_120x120q90.jpg_.webp" alt="">
                    </div>
                </div>
                <div>
                    <p>拍卖</p>
                    <div>一元起拍捡漏</div>
                    <div class="imgbox">
                        <img width="80%" src="https://img.alicdn.com/bao/uploaded/i1/O1CN01UIZL5G25dwtksOmab_!!0-paimai.jpg_120x120q90.jpg_.webp" alt="">
                    </div>
                </div>
                <div>
                    <p>拍卖</p>
                    <div>一元起拍捡漏</div>
                    <div class="imgbox">
                        <img width="80%" src="https://img.alicdn.com/bao/uploaded/i1/O1CN01UIZL5G25dwtksOmab_!!0-paimai.jpg_120x120q90.jpg_.webp" alt="">
                    </div>
                </div>
                <div>
                    <p>拍卖</p>
                    <div>一元起拍捡漏</div>
                    <div class="imgbox">
                        <img width="80%" src="https://img.alicdn.com/bao/uploaded/i1/O1CN01UIZL5G25dwtksOmab_!!0-paimai.jpg_120x120q90.jpg_.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <img style="padding: 10px 0px 10px 0px;" src="https://img.alicdn.com/simba/img/TB1ojgneypE_u4jSZKbSuvCUVXa.jpg" alt="">
        </div>
    </div>
</div>
