<div class="box">
    <div>
        <div class="top">
            <div></div>
            <span>热卖单品</span>
        </div>
        <div class="list">
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
            <span>连衣裙</span>
        </div>
        <div class="buttom">
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
            <div class="goodsbox">
                <div style="padding: 20px;">
                    <div style="display: flex; justify-content: center;">
                        <img src="https://gma.alicdn.com/bao/uploaded/i4/55261202/O1CN01abuBE81KkYgLdFhLS_!!0-saturn_solar.jpg_200x200.jpg_.webp" alt="">
                    </div>
                    <div class="dec">
                        吴有用唐朝上学记 1-4 全4册三四五六年级课
                    </div>
                    <div class="comment">
                        <span>评价434</span>
                        <span>收藏1426</span>
                    </div>
                    <div>
                        <span>
                            <span style="font-size: 12px; color: #FF5000;margin-right: 2px;">¥</span>
                            <span style="font-size: 22px; color: #FF5000;">39.9</span>
                        </span>
                        <span>
                            <span style="font-size: 12px;color: #999999;margin-left: 2px;">¥</span>
                            <span style="font-size: 12px;color: #999999; text-decoration:line-through; ">100</span>
                        </span>
                        <span style="padding-left: 40px;color: #999;font-size: 12px;">
                            月销2407笔
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="imgbox">
    <div>
        <div style="margin-right: 5px;">
            <img src="https://gtms01.alicdn.com/tps/i1/TB12EhzIXXXXXbMXpXXDgwcQVXX-375-130.jpg" alt="">
        </div>
        <div style="margin-right: 5px;">
            <img src="https://gtms02.alicdn.com/tps/i2/TB1ZeJGIXXXXXcnXXXXDgwcQVXX-375-130.jpg" alt="">
        </div>
        <div>
            <img src="https://gtms03.alicdn.com/tps/i3/TB197VzIXXXXXbJXpXXDgwcQVXX-375-130.jpg" alt="">
        </div>
    </div>
</div>


