<app-breadcrumb></app-breadcrumb>

<nz-card class="card">
    <nz-steps [nzCurrent]="1">
        <nz-step nzTitle="上报受理" [nzDescription]="text" style="font-size: 10px;">
        </nz-step>
        <nz-step nzTitle="受理成功" > </nz-step>
        <nz-step nzTitle="处理中" ></nz-step>
        <nz-step nzTitle="完成" ></nz-step>
    </nz-steps>
</nz-card>

<nz-card class="content">
    <div nz-row>
        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10" class="leftBox">
          <img [src]="data[0].img">
          <div class="leftBox-right">
              <div class="leftBox-top">{{data[0].type}}</div>
              <div class="leftBox-button">{{data[0].text}}</div>
          </div>
        </div>
        <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4" class="timeBox">
          {{data[0].time}}
        </div>
        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10" class="seeBox">
            <i nz-icon nzType="eye" nzTheme="outline" style="margin-right: 10px;"></i>
            {{data[0].seeNum}}  人浏览
        </div>
      </div>
</nz-card>

<div class="button">
    <button nz-button nzType="primary" (click)="goBack()">确认</button>
</div>