<div class="box">
    <div class="goodsBox">
        <div class="title">
            <img height="24px" src="https://img.alicdn.com/tfs/TB1tqpnegMPMeJjy1XcXXXpppXa-148-48.png" alt="">
            <span>
                与品质生活不期而遇
            </span>
        </div>
        <div class="goods">
            <div>
                <img width="100%" height="100%" src="https://img.alicdn.com/imgextra/i1/2959008325/TB2zh2RoRjTBKNjSZFNXXasFXXa_!!2959008325-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp" alt="">
                <div class="name">
                    Bite 唇釉
                </div>
                <div class="dec">
                    简洁的深灰色包装，低调但不凡。
                </div>
                <p>
                    <span>13 人说好</span>
                </p>
            </div>
            <div>
                <img width="100%" height="100%" src="https://img.alicdn.com/imgextra/i1/2959008325/TB2zh2RoRjTBKNjSZFNXXasFXXa_!!2959008325-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp" alt="">
                <div class="name">
                    Bite 唇釉
                </div>
                <div class="dec">
                    简洁的深灰色包装，低调但不凡。
                </div>
                <p>
                    <span>13 人说好</span>
                </p>
            </div>
            <div>
                <img width="100%" height="100%" src="https://img.alicdn.com/imgextra/i1/2959008325/TB2zh2RoRjTBKNjSZFNXXasFXXa_!!2959008325-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp" alt="">
                <div class="name">
                    Bite 唇釉
                </div>
                <div class="dec">
                    简洁的深灰色包装，低调但不凡。
                </div>
                <p>
                    <span>13 人说好</span>
                </p>
            </div>
            <div>
                <img width="100%" height="100%" src="https://img.alicdn.com/imgextra/i1/2959008325/TB2zh2RoRjTBKNjSZFNXXasFXXa_!!2959008325-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp" alt="">
                <div class="name">
                    Bite 唇釉
                </div>
                <div class="dec">
                    简洁的深灰色包装，低调但不凡。
                </div>
                <p>
                    <span>13 人说好</span>
                </p>
            </div>
            <div>
                <img width="100%" height="100%" src="https://img.alicdn.com/imgextra/i1/2959008325/TB2zh2RoRjTBKNjSZFNXXasFXXa_!!2959008325-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp" alt="">
                <div class="name">
                    Bite 唇釉
                </div>
                <div class="dec">
                    简洁的深灰色包装，低调但不凡。
                </div>
                <p>
                    <span>13 人说好</span>
                </p>
            </div>
            
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center;margin-top: 10px;">
    <div class="imgbox">
        <img src="https://img.alicdn.com/simba/img/TB1vU1POaL7gK0jSZFBSutZZpXa.jpg" alt="">
    </div>
</div>

