.box{
    width 50px
    // height 350px
    background-color #fff
    position fixed
    right 15%
    top 40%
    border-radius 5px
    &>div{
        padding 10px 10px 10px 12px
        color #fff
        font-size 12px
        cursor pointer
    }
    &>.a{
        background-image: linear-gradient(135deg,#ff971b,#ff5000);
        border-radius 5px 5px 0px 0px
    }
    &>.b{
        color: #f05;
        border-bottom 1px solid #f4f4f4
    }
    &>.c{
        color: #A8C001;
        border-bottom 1px solid #f4f4f4
    }
    &>.d{
        color: #F40;
        border-bottom 1px solid #f4f4f4
    }
    &>.e,.f,.g{
        color #000000
        border-bottom 1px solid #f4f4f4
    }
    &>div:hover{
        background-image: linear-gradient(135deg,#ff971b,#ff5000);
        color #ffffff
    }
}