.titleBox
    display flex
    justify-content center
    .title
        width 1190px
        height 30px
        display flex
        
        .title_left
            width 190px
            color #ffffff
            font-size 16px
            display flex
            justify-content center
            align-items center
            background-color #FF5000
        .title_right
            width 1000px
            display flex
            align-items center
            justify-content flex-start
            color #ffffff
            font-size 16px
            padding 0px 5px
            background-color #FF5C00
            &>span
                padding 0px 15px 0px 10px
            &>span:nth-last-child(-n+10)
                font-size 14px
.marketBox
    display flex
    justify-content center
    .market
        width 1190px
        height 522px
        background-color #ffffff
        display flex
        justify-content center
        .left
            width 900px
            height 522px
            background-color #FAFAFA
            display flex
            .left_left
                width 189px
                height 522px
                background-color #ffffff
                border 1px solid #FF5000
                position relative
                ul
                    list-style-type none
                    li
                        height 34px
                        width 189px
                        text-align center
                        line-height 34px
                        padding 1px 19px 1px 25px
                        cursor pointer
                        span
                            color #666666
                            font-size 14px
                    li:hover
                        background-color #FFE4DC
                        &>.hoverfl
                            display block
                    
            .left_right
                width 711px
                height 522px
        .right
            width 290px
            height 522px

.hoverfl {
    width 711px
    height 522px
    border 2px solid #F94A14
    display none
    position absolute
    left 188px
    top -1px
    z-index 2
    background-color #fff

    &>.hoverflBox{
        display flex
        &>.hoverfl_left{
            width 458px
            height 522px
            overflow-y auto
            padding 10px 0px 0px 20px
            &>.title{
                font-size 16px
                font-weight 600
                display flex
                justify-content flex-start
            }
            &>.text {
                display flex
                justify-content flex-start
                flex-wrap wrap
                &>span {
                    padding 10px
                    font-size 12px
                    color #000000
                }
            }
        }
        &>.hover_right{
            width 160px
            height 522px
        }
    }
}
.lovetext{
    width 253px
    font-size: 16px;
    background-color:#EDEDED;
    display flex
    justify-content center
}
.imgBox {
    width 253px
    display flex
    justify-content center
    flex-direction row
    flex-wrap wrap
    &>div{
        width 45%
        height 140px
        // background-color green
        margin 5px
        padding-top 20px
    }
}

.left_right{
    width 100%
    height 100%

    &>.left_right_top{
        width 100%
        height 280px
        display flex

        &>:first-child {
            width 540px
            height 280px
            padding  5px
            // background-color red
        }
        &>:last-child {
            width 171px
            height 280px
            padding   5px
            // background-color green
        }
    }

    &>.left_right_center {
        width 100%
        height 41px
        display flex

        &>:first-child {
            width 540px
            height 41px
            display flex
            &>:firdt-child {
                width 136px
            }
            &>:last-child {
                color #666666
                font-size 12px
                margin-top 20px
            }
        }
        &>:last-child {
            width 171px
            height 41px
            color #a1a1a1
            font-size 12px
            line-height 41px
            padding 5px
            // background-color red
        }
    }

    &>.left_right_buttom {
        width 100%
        height 201px
        display flex

        &>:first-child {
            width 540px
            height 201px
            padding  5px
        }
        &>:last-child {
            width 171px
            height 201px
            padding 5px
            // background-color green
        }
    }
}


[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    color: #fff;
    overflow: hidden;
}

.right{
    width 290px
    height 522px
    padding 5px
    &>.useImgBox{
        width 290px
        height 56px
        display flex
        justify-content center
        &>.tbImg {
            width 56px
            height 56px
        }
    }
    &>.usertext{
        font-size: 12px;
        &>sapn {
            background-color #ffe4db
        }
    }
    &>.button{
        display flex
        justify-content: center
        padding-top 5px
        padding-bottom 10px
        &>div{
            width 75px
            height 25px
            background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            margin-right: 7px;
            text-align: center;
            color: #FFF;
            line-height: 25px;
        }
    }
    &>.notice {
        padding-top 7px
        &>.top{
            width 290px
            height 24px
            display flex
            position relative
            &>span{
                width 20%
                text-align center
                color: #3C3C3C;
                cursor pointer
                font-weight: 700;
                font-size 12px
                &>p:hover{
                    border-bottom 2px solid #FF651E
                }
                &>.buttomA{
                    position absolute
                    width 290px
                    height 37px
                    left 0px
                    top 24px
                    height 37px
                    font-weight 700
                    font-size 12px
                    line-height 37px
                    z-index 2
                    color #FF651E
                    padding 0px 6px 0px 6px
                    align-items center
                    display none
                    background-color #fff
                }
            }
            &>span:hover{
                &>p{
                    display block
                }
                &>.buttomA{
                    display block
                }
            }
        }
        &>.buttom{
            height 37px
            font-weight 700
            font-size 12px
            color #FF651E
            // float left
            padding 0px 6px 0px 6px
            display flex
            justify-content center
            align-items center
        }
    }
    &>.eightBox{
        width 100%
        height 155px
        display flex
        flex-direction: row
        flex-wrap: wrap 
        padding-top 5px
        &>div{
            width 70px
            height 80px
            border 1px solid #F4F4F4
            cursor pointer
            &>:first-child{
                width 100%
                height 60%
                display flex
                justify-content center
                align-items center
            }
            &>:last-child{
                width 100%
                height 40%
                text-align center
                line-height 30px
                color #333333
                font-size 12px
            }
        }
        &>div:hover{
            &>:last-child{
                color #FF5000
            }
        }
    }
    &>.alapp{
        width 100%
        height 76px
        padding-top 15px
        &>:first-child{
            position relative
            width 100%
            height 30px
            &>:first-child{
                position absolute
                left 0px
                padding-left 5px
                color #000000
                font-weight 700
                font-size 14px
            }
            &>:last-child{
                position absolute
                right 0px
                padding-right 5px
                color #000000
                font-size 12px
            }
            &>:last-child:hover{
                color #FF6604
            }
        }
        &>:last-child{
            width 100%
            height 46px
            display flex
            
            &>div{
                width 20%
                height 100%
                display flex 
                justify-content center
                align-items center
                cursor pointer
                position relative
                &>div{
                    border 1px solid #F4F4F4
                    position absolute
                    width: 90px;
                    height: 102px;
                    background: #FFF;
                    top -110px
                    left -10px
                    display none
                    text-align center
                    line-height 50px
                }
            }
            &>div:hover{
                &>div{
                    display block
                }
            }
        }
    }
}

