<div class="header-box">
    <!-- 头像 -->
    <div class="img-box">
        <nz-avatar nzIcon="user" nzSize="large" nzSrc="user">
        </nz-avatar>
    </div>

    <span class="title-shucong" (click)="goHome()">
        数聪科技
    </span>

    <span class="title-keyou">
        欢迎，科友！
    </span>

    <span class="out">
        <i nz-icon nzType="logout" nzTheme="outline" class="icon" style="display: flex; align-items: center;padding-right: 5px;"></i>
        <span (click)="showConfirm()">退出登陆</span>
    </span>

</div>
