<div class="box">
    <div>
        <div class="left">
            <div class="title">
                <img height="24px" src="https://img.alicdn.com/tfs/TB1_EXwb3oQMeJjy0FpXXcTxpXa-162-48.png" alt="">
                <span>
                    发现深藏的好店
                </span>
            </div>
            <div class="content">
                <div>
                    <span>万能市集</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <span>万能市集</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <span>万能市集</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <span>万能市集</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <img height="24px" src="https://img.alicdn.com/tfs/TB1cmpCb3MPMeJjy1XdXXasrXXa-204-42.png" alt="">
                <span>
                    你的爱豆直播等你哦！
                </span>
            </div>
            <div class="content">
                <div>
                    <span>毛猫直播</span><span style="font-size: 12px; color: #999999; margin-left: 5px;">1447观看</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                        
                    </div>
                </div>
                <div>
                    <span>毛猫直播</span><span style="font-size: 12px; color: #999999; margin-left: 5px;">1447观看</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <span>毛猫直播</span><span style="font-size: 12px; color: #999999; margin-left: 5px;">1447观看</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <span>毛猫直播</span><span style="font-size: 12px; color: #999999; margin-left: 5px;">1447观看</span>
                    <div>
                        <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_180x180q90.jpg_.webp" alt="">
                        <div>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB2AGgQaEyfF1Jjy0FbXXXSupXa_!!47967555.jpg_100x100q90.jpg_.webp" alt="">
                            <img src="https://img.alicdn.com/bao/uploaded/i1/47967555/TB1Kky0bH1YBuNjSszeYXGblFXa_M2.SS2_100x100q90.jpg_.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
