<!-- 面包屑 -->
<app-breadcrumb></app-breadcrumb>

<!-- 顶部功能区 -->
<nz-card class="header-title" style="padding: 0px; font-weight: 600;">
    <div nz-row>
        <div nz-col nzSpan="6">
            <span class="header-title-span">今日上报：{{ todayReportNum }}条</span>
            <span>|</span>
            <span class="header-title-span-right">今日处理：{{ todayHandleNum }}条</span>
        </div>
        <div nz-col nzSpan="12">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="请输入搜索内容" class="search" [(ngModel)]="searchText"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch class="search" (click)="search()">
                    <i nz-icon nzType="search"></i>
                </button>
            </ng-template>
        </div>
        <div nz-col nzSpan="6" class="header-button">
            <button nz-button nzType="primary" (click)="goUpload()">我要上传</button>
        </div>
    </div>
</nz-card>

<!-- tab区 -->
<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" class="tab" >
    <nz-tab nzTitle="所有报告" (nzSelect)="getAllReports()">
        <span *ngFor="let item of allReportsData" class="spanBox" (click)="goDetail(item.id)" >
            <div class="reportBox">
                <div class="topBox">
                    <div class="topBox-img">
                        <img [src]='item.img' alt="">
                    </div>
                    <div class="topBox-text">
                        <div>上报人：{{item.type}}</div>
                        <div style="font-size: 10px;">{{item.text}}</div>
                    </div>
                </div>
                <div class="buttonBox">
                    <span class="buttonBox-left">{{item.time}}</span>
                    <span class="buttonBox-right"><i nz-icon nzType="eye" nzTheme="outline" style="padding-right:3px;"></i>{{item.seeNum}}人浏览</span>
                </div>
            </div>
        </span>
    </nz-tab>
    <nz-tab nzTitle="最新上报" (nzSelect)="getNewReports()">
        <span *ngFor="let item of allReportsData" class="spanBox" (click)="goDetail(item.id)">
            <div class="reportBox">
                <div class="topBox">
                    <div class="topBox-img">
                        <img [src]='item.img' alt="">
                    </div>
                    <div class="topBox-text">
                        <div>上报人：{{item.type}}</div>
                        <div style="font-size: 10px;">{{item.text}}</div>
                    </div>
                </div>
                <div class="buttonBox">
                    <span class="buttonBox-left">{{item.time}}</span>
                    <span class="buttonBox-right"><i nz-icon nzType="eye" nzTheme="outline" style="padding-right:3px;"></i>{{item.seeNum}}人浏览</span>
                </div>
            </div>
        </span>
    </nz-tab>
    <nz-tab nzTitle="最新处理" (nzSelect)="getNewHandle()" >
        <span *ngFor="let item of allReportsData" class="spanBox" (click)="goDetail(item.id)" >
            <div class="reportBox">
                <div class="topBox">
                    <div class="topBox-img">
                        <img [src]='item.img' alt="">
                    </div>
                    <div class="topBox-text">
                        <div>上报人：{{item.type}}</div>
                        <div style="font-size: 10px;">{{item.text}}</div>
                    </div>
                </div>
                <div class="buttonBox">
                    <span class="buttonBox-left">{{item.time}}</span>
                    <span class="buttonBox-right"><i nz-icon nzType="eye" nzTheme="outline" style="padding-right:3px;"></i>{{item.seeNum}}人浏览</span>
                </div>
            </div>
        </span>
    </nz-tab>
    <nz-tab nzTitle="已处理" (nzSelect)="getHandled()">
        <span *ngFor="let item of allReportsData" class="spanBox" (click)="goDetail(item.id)">
            <div class="reportBox">
                <div class="topBox">
                    <div class="topBox-img">
                        <img [src]='item.img' alt="">
                    </div>
                    <div class="topBox-text">
                        <div>上报人：{{item.type}}</div>
                        <div style="font-size: 10px;">{{item.text}}</div>
                    </div>
                </div>
                <div class="buttonBox">
                    <span class="buttonBox-left">{{item.time}}</span>
                    <span class="buttonBox-right"><i nz-icon nzType="eye" nzTheme="outline" style="padding-right:3px;"></i>{{item.seeNum}}人浏览</span>
                </div>
            </div>
        </span>
    </nz-tab>
</nz-tabset>


<div class="footBox" *ngIf="showFootAll">
    <nz-pagination [nzPageIndex]="1"
    [nzTotal]="totalAll" nzShowSizeChanger 
    [nzPageSize]="20" (nzPageIndexChange)="changePageIndexAll($event)" (nzPageSizeChange)="changePageSizeAll($event)"></nz-pagination>
</div>

<div class="footBox" *ngIf="showFootNewR">
    <nz-pagination [nzPageIndex]="1"
    [nzTotal]="totalNewR" nzShowSizeChanger 
    [nzPageSize]="20" (nzPageIndexChange)="changePageIndexNewR($event)" (nzPageSizeChange)="changePageSizeNewR($event)"></nz-pagination>
</div>

<div class="footBox" *ngIf="showFootNewHand">
    <nz-pagination [nzPageIndex]="1"
    [nzTotal]="totalNewHand" nzShowSizeChanger 
    [nzPageSize]="20" (nzPageIndexChange)="changePageIndexNewHand($event)" (nzPageSizeChange)="changePageSizeNewHand($event)"></nz-pagination>
</div>

<div class="footBox" *ngIf="showFootHand">
    <nz-pagination [nzPageIndex]="1"
    [nzTotal]="totalHand" nzShowSizeChanger 
    [nzPageSize]="20" (nzPageIndexChange)="changePageIndexHand($event)" (nzPageSizeChange)="changePageSizeHand($event)"></nz-pagination>
</div>